In [2]:
import pandas as pd
import seaborn
import matplotlib as mpl
import numpy as np
import re

In [29]:
housing_df = pd.read_excel("Median_Housing_Prices.xls")
housing_df = housing_df.filter(items=['Mon-Yr','CA', 'Los Angeles', 'San Francisco'])

In [31]:
housing_df['year'] = housing_df['Mon-Yr'].dt.year
housing_df = housing_df[housing_df['year'] >= 2011]
housing_df

        Mon-Yr             CA    Los Angeles  San Francisco  year
252 2011-01-01  279220.000000  305570.000000         632936  2011
253 2011-02-01  271370.000000  286100.000000         645454  2011
254 2011-03-01  286550.000000  282170.000000         764535  2011
255 2011-04-01  294140.000000  290600.000000         721311  2011
256 2011-05-01  292850.000000  271540.000000         701922  2011
257 2011-06-01  296410.000000  301300.000000         742646  2011
258 2011-07-01  297660.000000  317060.000000         739753  2011
259 2011-08-01  297060.000000  312900.000000         698629  2011
260 2011-09-01  288700.000000  330610.000000         654850  2011
261 2011-10-01  277450.000000  307970.000000         739918  2011
262 2011-11-01  279910.000000  291260.000000         696917  2011
263 2011-12-01  288950.000000  306950.000000         656609  2011
264 2012-01-01  271490.000000  290900.000000         649999  2012
265 2012-02-01  268810.000000  272690.000000         665492  2012
266 2012-03-01  295630.000000  272920.000000         701171  2012
267 2012-04-01  312500.000000  286800.000000         782738  2012
268 2012-05-01  316460.000000  282930.000000         785714  2012
269 2012-06-01  320990.000000  315390.000000         813559  2012
270 2012-07-01  334220.000000  334190.000000         787791  2012
271 2012-08-01  343800.000000  344770.000000         759615  2012
272 2012-09-01  344760.000000  373020.000000         719339  2012
273 2012-10-01  340910.000000  364810.000000         877155  2012
274 2012-11-01  345560.000000  337080.000000         840277  2012
275 2012-12-01  365840.000000  367400.000000         864795  2012
276 2013-01-01  336650.000000  349720.000000         743643  2013
277 2013-02-01  333180.000000  337630.000000         832031  2013
278 2013-03-01  379000.000000  340890.000000         936110  2013
279 2013-04-01  402830.000000  361630.000000        1011029  2013
280 2013-05-01  417350.000000  365990.000000        1009615  2013
281 2013-06-01  428700.000000  403760.000000         941901  2013
..         ...            ...            ...            ...   ...
319 2016-08-01  527490.000000  520400.154002        1257500  2016
320 2016-09-01  516450.000000  550705.369992        1218750  2016
321 2016-10-01  513520.000000  536760.000000        1407500  2016
322 2016-11-01  502490.000000  487060.000000        1360500  2016
323 2016-12-01  510560.000000  522520.000000        1315210  2016
324 2017-01-01  491840.000000  509130.000000        1250000  2017
325 2017-02-01  480270.000000  470200.000000        1276000  2017
326 2017-03-01  518600.000000  465810.000000        1350000  2017
327 2017-04-01  537950.000000  480230.000000        1402500  2017
328 2017-05-01  550239.010379  492040.000000        1501680  2017
329 2017-06-01  555410.000000  548220.000000        1469000  2017
330 2017-07-01  549460.000000  566240.000000        1428000  2017
331 2017-08-01  565330.000000  570720.000000        1380000  2017
332 2017-09-01  555410.000000  606110.000000        1350000  2017
333 2017-10-01  546430.000000  580360.000000        1594000  2017
334 2017-11-01  546820.000000  530920.000000        1500000  2017
335 2017-12-01  546550.000000  577690.000000        1475000  2017
336 2018-01-01  527780.000000  564100.000000        1330000  2018
337 2018-02-01  522440.000000  527280.000000        1730000  2018
338 2018-03-01  564830.000000  528980.000000        1680000  2018
339 2018-04-01  584460.000000  528540.000000        1650000  2018
340 2018-05-01  600860.000000  536940.000000        1620000  2018
341 2018-06-01  602760.000000  586090.000000        1620000  2018
342 2018-07-01  591460.000000  597520.000000        1650000  2018
343 2018-08-01  596410.000000  607490.000000        1550000  2018
344 2018-09-01  578850.000000  634680.000000        1507500  2018
345 2018-10-01  572000.000000  614500.000000        1600000  2018
346 2018-11-01  554760.000000  553940.000000        1442500  2018
347 2018-12-01  557600.000000  588140.000000        1500000  2018
348 2019-01-01  538690.000000  566010.000000        1330000  2019

[97 rows x 5 columns]

In [45]:
avg_housing_2011 = housing_df[housing_df['year'] == 2011].mean()
avg_housing_2012 = housing_df[housing_df['year'] == 2012].mean()
avg_housing_2013 = housing_df[housing_df['year'] == 2013].mean()
avg_housing_2014 = housing_df[housing_df['year'] == 2014].mean()
avg_housing_2015 = housing_df[housing_df['year'] == 2015].mean()
avg_housing_2016 = housing_df[housing_df['year'] == 2016].mean()
avg_housing_2017 = housing_df[housing_df['year'] == 2017].mean()
avg_housing_2018 = housing_df[housing_df['year'] == 2018].mean()
# Do avg_housing_2011['San Francisco'] to access average of san fran, ca, or la

699623.3333333334